<div class="col-md-3">
	<a href="/books/<%= book.id %>">
		<%= image_tag book.book_img.url(:book_index), class: "book" %>
		
	</a>
	<div class="review-rating" data-score="<%= book.reviews.average(:rating) %>"> </div>
</div>	

